- const heading = require('01-elements/heading/index.pug');
- const styles = require('03-sections/slider/styles/index.json');

mixin slider(props = {})
  - const data = props.sb ? props : props.data;

  section(class=styles.section)
    div(class=styles.main)
      .swiper
        .swiper-wrapper
          each slide in data.slides
            .swiper-slide
              .section.is-medium(class=styles.slide, style={ 'background-image': slide.bg })
                .container
                  div(class=styles.slide__wrapper)
                    div(class=styles.heading)!= heading({ props: slide.heading })
        div(class=styles.controls)
          .container
            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next
