- const data = require("03-sections/slider/data/index.json");
- const styles = require("03-sections/slider/styles/index.json");
- const title = require("01-elements/title/index.pug");

mixin slider(props = {})
  section(class=styles.section)
    div(class=styles.main)
      .swiper
        .swiper-wrapper
          each slide in (props ? props.slides : data.slides)
            .swiper-slide
              div(class=styles.slide style={ "background-image": slide.bg })
                .container
                  div(class=styles.title)!= title({ props: { text: slide.title } })
        div(class=styles.controls)
          .container
            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next
