- const title = require("01-elements/title/index.pug");
- const data = require("03-sections/jumbotron/data/index.json");
- const styles = require("03-sections/jumbotron/styles/index.json");

mixin jumbotron(props = {})
  section(class=styles.section)
    div(class=styles.main)
      .container
        div(class=styles.wrapper)
          div(class=styles.icon)
            img(
              class=styles.img
              src=require("03-sections/jumbotron/static/logo.png")
              alt=data.iconAlt
            )
          div(class=styles.title)!= title(props ? { props } : { props: { text: data.title } })
