- const title = require('01-elements/title/index.pug');
- const styles = require('03-sections/jumbotron/styles/index.json');

mixin jumbotron(props = {})
  - const data = props.sb ? props : props.data;

  section(class=styles.section)
    div(class=styles.main)
      .container
        div(class=styles.wrapper)
          div(class=styles.icon)
            img(class=styles.img, src=require('03-sections/jumbotron/static/logo.png'), alt=data.iconAlt)
          div(class=styles.title)!= title({ props: data.title })
